body {
  color: #565656;
  background: #F0F3F3;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin-top:20px;
}

.panel {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.panel-body {
  padding: 15px;
}

.profile-pic {
  margin: 20px 0 0 0;
}

.profile-pic img {
  border: 7px solid #e5e6ea;
}

img {
  max-width: 100%;
}

h1, .h1 {
  font-size: 1.375em;
}

p {
  font-size: 12px;
}

.profile-info .connect {
  margin: 15px 0 5px 0;
}

.profile-info .connect button {
  margin-right: 15px;
}

.btn-success.btn-trans {
  color: #27b6af;
  background-color: transparent;
  border: solid thin #27b6af;
}

.btn-primary.btn-trans {
  color: #556b8d;
  background-color: transparent;
  border: solid thin #556b8d;
}

.social {
  margin: 0;
  padding: 0;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  margin: 5px;
  list-style: none outside none;
  display: inline-block;
}

.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #909AA0;
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.timeline-post-to textarea {
  min-height: 80px;
  margin-bottom: 15px;
}

.form-control {
  border: 2px solid #e8ebed;
  border-radius: 2px;
  box-shadow: none;
  height: 37px;
  padding: 8px 12px 9px 12px;
}